/////////////////////////////////////////////////////////////////
//Floating label from: https://w3bits.com/css-floating-labels/ //
/////////////////////////////////////////////////////////////////

.floating-label-wrap {
	display: inline;

}
// .floating-label-field {
// 	// display: inline-block;
// 	border-width: 0;
// 	color: rgba(#2c3e50, .75);
// 	&:focus {
// 		outline: 0;
// 		box-shadow: 0;
// 	}
// 	&::placeholder {
// 		color: transparent;
// 	}
// }
// .floating-label-field {
// 	&,
// 	& + .floating-label {
// 		line-height: 1;
// 		font: inherit;
// 		// padding: 1em 0 .5em .5em;
// 		padding: 1.5em;
// 		height: 1em;
// 	}
// }
// .floating-label-field {
// 	& + .floating-label {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		user-select: none;
// 	}
// }
// .floating-label-field {
// 	// &,
// 	// & + .floating-label {
// 	// 	position: relative;
// 	// }
// }
// .floating-label-field {
// 	border-bottom: 3px solid rgba(white, .05);
// 	background-color: transparent;
// 	color: rgba(white, .75);
// }

// // /////////////////////////////
// .floating-label-field {
// 	& + .floating-label {
// 	  transition: transform .25s, opacity .25s ease-in-out;
// 	  transform-origin: 0 0;
// 	  opacity: .5;
// 	}
// }
// .floating-label-field {
// 	&:focus,
// 	&:not(:placeholder-shown) {
// 	  border-color: rgba(white, .1);
// 	  & + .floating-label {
// 		transform: translate(1%, -50%) scale(.8);
// 		opacity: .25;
// 	  	}
// 	}
// }
// .floating-label-input {
// 	&:valid {
// 	  &:not(:placeholder-shown) {
// 		border-color: rgba(#119e4c, .3);
// 	  }
// 	}
  
// 	&:invalid {
// 	  border-color: rgba(#be2e2e, .3);
// 	}
// }
//////////////////////////////////////////////////////////////////////////////////




.floating-label-field {
	width: 100%;
	border-width: 0;
	color: rgba(#2c3e50, .75);
	&:focus {
		outline: 0;
		box-shadow: 0;
	}
	&::placeholder {
		color: transparent; 	
	}
	& + .floating-label {
		line-height: 1;
		font: inherit;
		padding: 1.5em;
		height: 1em;
		// position: relative;
		position: absolute;
		top: -1.25rem;
		left: 0;
		user-select: none;
		transition: transform .25s, opacity .25s ease-in-out;
		transform-origin: 0 0;
		opacity: .5;
	}
	border-bottom: 3px solid rgba(white, .05);
	background-color: transparent;
	color: rgba(white, .75);
	&:focus,
	&:not(:placeholder-shown) {
	  border-color: rgba(rgb(57, 100, 141), .5);
	  & + .floating-label {
			transform: translate(1%, -35%) scale(.8);
			opacity: .25;
			// color: orangered;
	  	}
	}
	&:valid {
		&:not(:placeholder-shown) {
			border-color: rgba(#119e4c, .5);
		}
	}
	// &:invalid {
	// 	border-color: rgba(#be2e2e, .4);
	// }
}








//////////////////////////////////////////////////////////////////////////////////



.formIcon {
    position: absolute;
    bottom: 2px;
	right: -10px;
	overflow: hidden;
	// max-width: 8%;
	// height: width;
}
.input-field {
	margin-bottom: 16px;
}
label:hover{
	cursor: text;
}

#formMessage {
	width: 100%;
}
.floating-label-wrap {
	max-width: 92%;
}











//////   Material UI Overrides   \\\\\\\\

.MuiFormHelperText-root {
    color: rgba(0, 102, 0, 0.89);
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}



.wasClicked {
	.MuiInputBase-root {
		input:valid + fieldset {
			border-color: rgba(0, 102, 0, 0.89);
			border-width: 2;
		}
	}
}
.wasClicked:invalid + fieldset {
	border-color: rgba(0, 102, 0, 0.89);
	border-width: 2;
}


// & input:valid + fieldset: {
// 	borderColor: 'rgba(0, 102, 0, 0.89)',
// 	borderWidth: 2,
//   }
//   & input:invalid + fieldset: {
// 	borderColor: 'rgba(143,0,0,0.9)', //invalid border color (red)
// 	borderWidth: 2,
//   }